.waitForVoters {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .user{
    display: flex;
    align-items: center;
    gap: 20px;
    
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
   .icons {
    gap: 20px;
    display: flex;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.waiting {
  padding: 50px;
}

button{
  padding: 20px;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}